<a href="https://colab.research.google.com/github/Prakash9638/Heart_disease_predition_Project/blob/main/Heart_desease_predector.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df=pd.read_csv("/content/sample_data/heart_disease_data.csv")

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,48,1,0,130,256,1,0,150,1,0.0,2,2,3,0
1,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
2,44,0,2,118,242,0,1,149,0,0.3,1,1,2,1
3,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
4,56,1,3,120,193,0,0,162,0,1.9,1,0,3,1

In [24]:
df.shape

(606, 14)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       606 non-null    int64
 1   sex       606 non-null    int64
 2   cp        606 non-null    int64
 3   trestbps  606 non-null    int64
 4   chol      606 non-null    int64
 5   fbs       606 non-null    int64
 6   restecg   606 non-null    int64
 7   thalach   606 non-null    int64
 8   exang     606 non-null    int64
 9   oldpeak   606 non-null    float64
 10  slope     606 non-null    int64
 11  ca        606 non-null    int64
 12  thal      606 non-null    int64
 13  target    606 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 66.4 KB

In [26]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [27]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.074592,0.465626,1.031199,17.523642,51.787898,0.355903,0.525425,22.886223,0.469406,1.160115,0.615717,1.021761,0.611770,0.498422
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.250000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.750000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [28]:
df['target'].value_counts()

target
1    330
0    276
Name: count, dtype: int64

In [29]:
X = df.drop(columns="target",axis=1 )
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,48,1,0,130,256,1,0,150,1,0.0,2,2,3
1,61,1,0,148,203,0,1,161,0,0.0,2,1,3
2,44,0,2,118,242,0,1,149,0,0.3,1,1,2
3,47,1,0,110,275,0,0,118,1,1.0,1,1,2
4,56,1,3,120,193,0,0,162,0,1.9,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,60,1,2,140,185,0,0,155,0,3.0,1,0,2
602,67,0,2,115,564,0,0,160,0,1.6,1,0,3
603,40,1,3,140,199,0,1,178,1,1.4,2,0,3
604,50,0,0,110,254,0,0,159,0,0.0,2,0,2
605,62,1,1,120,281,0,0,103,0,1.4,1,1,3

In [30]:
Y = df["target"]
Y

0      0
1      0
2      1
3      0
4      1
      ..
601    0
602    1
603    1
604    1
605    0
Name: target, Length: 606, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=42)

In [32]:
X.shape

(606, 13)

In [33]:
X_train.shape

(484, 13)

In [34]:
X_test.shape

(122, 13)

In [35]:
Y.shape

(606,)

In [36]:
Y_train.shape

(484,)

In [37]:
Y_test.shape

(122,)

In [38]:
from sklearn.linear_model import LinearRegression  # Import the LinearRegression class

model = LinearRegression()  # Now you can use it

In [39]:
model.fit(X_train,Y_train)

LinearRegression()

In [41]:
from sklearn.metrics import mean_squared_error, r2_score

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(Y_train, X_train_prediction)
print(f"Mean Squared Error: {mse}")

# Calculate R-squared score
r2 = r2_score(Y_train, X_train_prediction)
print(f"R-squared: {r2}")

Mean Squared Error: 0.11950216728930733
R-squared: 0.5180079252664604

In [49]:
input_data = (62,1,1,120,281,0,0,103,0,1.4,1,1,3)

input_data = np.asarray(input_data)

input_data = input_data.reshape(1,-1)

prediction = model.predict(input_data)
print(prediction)

if prediction[0]==0:
  print("The person does not have a heart disease")
else:
  print("The person has a heart disease")

[0.20703547]
The person has a heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(